@font-face {
    font-family: 'supplyregular';
    src: url('supply-regular-webfont.woff2') format('woff2'),
         url('supply-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'supplyultralight';
    src: url('supply-ultralight-webfont.woff2') format('woff2'),
         url('supply-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}